@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Jaldi&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Jacques+Francois&family=Jaldi&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000A25;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    width: 328px;
    height: 601px;
    background: #002997;
    border-radius: 22px;
}

.box h1{
    font-family: 'Jaldi', sans-serif;
    color: #fff;
    margin: 28px 40px;
}

.box p{
    font-family: 'Jacques Francois', serif;
    margin: 28px 40px;
    color: #fff;
}